<form action="">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input required  minlength="3" ngModel name="firstName" type="text" id="firstName" #firstName = "ngModel" (change)="log(firstName);" class="form-control">
        <div class="alert alert-danger" *ngIf="firstName.touched">
            <div *ngIf="firstName.errors.required">First Name is not valid</div>
            <div *ngIf="firstName.errors.minlength">First Name should be min</div>

        </div>
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea  id="comment" cols="30" rows="10" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>